<!DOCTYPE>
<html lang="en">
<head>
    <meta charset=UTF-8>
</head>
<body>
     <div class="container">
         <div class="jumbotron">
             <h1>Welcome to MANIJOBS</h1>
             <p>Contenious Jobs Updates For Every Hour......</p>
             <a class="btn btn-primary btn-lg" href="/hydjobsinfo/">Hyderabad Jobs</a>&nbsp;&nbsp;&nbsp;
             <a class="btn btn-primary btn-lg" href="/bngjobsinfo/">Bangalore Jobs</a>&nbsp;&nbsp;&nbsp;
             <a class="btn btn-primary btn-lg" href="/punejobsinfo/">Pune Jobs</a>
         </div>
     </div>
</body>
</html>